.typeitem {
    float: left !important;
    margin-left: -20px;
    width: 55%;
    margin-top: 6px;
}
ion-select {
    width: 100% !important;
    text-align: right !important;
}

ion-label{
    white-space: normal !important;
}