.no_margin{
    margin: 0 !important;
}
.userdiv {
    position: absolute;
    color: #fff;
    bottom: 30px;
}

.employer {
    position: absolute !important;
    top: 0 !important;
    right: 16px !important;
    color: #ffff !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-weight: 500 !important;
}

.backimg {
    height: 100% !important;
}
.round-img{
    height: 60px !important;
    width: 60px !important;
}
.mycardinfo {
    background: #f1f1f1 !important;
    ion-card-content {
        padding: 9px 5px !important;
        text-align: center !important;
        margin: 0 auto;
        min-height: 65px;
        .info {
            color: #c73130 !important;
        }
        .infoname {
            font-size: 11px !important;
            text-transform: uppercase !important;
            font-weight: 600 !important;
            color: black !important;
            max-width: 70px;
            line-height: 12px;
            padding: 0;
            margin: 0;
        }
    }
}

.header {
    text-align: center !important;
    text-transform: uppercase !important;
    margin: 18px 0 0 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}

ion-slides {
    ion-slide {
       // background: #000; ;
    }
    img {
       // opacity: 0.6;
    }
}
.slider-nav{
    ion-icon{
        height: 100%;
    }
  }
  
  .slide-text{
    position: absolute;
    color: white;
    bottom: 30px;
  }
  

.sliderheader {
    font-size: 19px !important;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px !important;
}

.slidersubheader {
    font-size: 12px !important;
}

.iconimg {
    text-align: -webkit-center !important;
    margin-bottom: 5px;
    img {
        width: 25px !important;
    }
}

.bottomslide {
    width: 280px !important;
    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0px !important;
    }
    ion-card {}
    p {
        position: absolute !important;
        bottom: 15px !important;
        color: white !important;
        text-align: left;
        z-index: 9999 !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        padding: 11px;
        margin: 0;
    }
    span {
        position: absolute !important;
        left: 12px !important;
        bottom: 0px !important;
        color: white !important;
        font-size: 9px !important;
        z-index: 99999 !important;
    }
}

.cardsqr {
    width: 96%!important;
    padding-top: 3px !important;
    margin: 0px !important;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.griddata {
    padding-left: 25px !important;
    padding-right: 25px !important;
    text-align: -webkit-center !important;
    position: relative;
}

.leftarrow {
    font-size: 20px !important;
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    padding-left: 3% !important;
    color: gray !important;
    margin-top: -10px;
}
.salon-title{font-family: 'Roboto', sans-serif;text-align:left; font-style: normal; font-weight: bold; font-size: 12px; color: #3C3F4F; margin: 10px 0px 4px; letter-spacing: 0.03em;}   
.pl-5{padding-left: 5px;}
.rightarrow {
    font-size: 20px !important;
    position: absolute !important;
    right: 0 !important;
    top: 50% !important;
    padding-right: 3% !important;
    color: gray !important;
    margin-top: -10px;
}

.slidecard {
    width: 100% !important;
    margin: 0px !important;
    border-radius: 0px;
    img {
        width: 100% !important;
      //  min-height: 38vh;
    }
}

.griddata {
    ion-slides {
        border-radius: 5px !important;
        ion-slide {
            background: #000;
        }
    }
}

ion-slides {
    max-width: 600px;
}

.L_10PX{
    margin-left:10px;
}

.heading_dash {
     text-align: center;
    text-transform: uppercase !important;
    margin: 14px 0 0 !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.shadow_ion{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin:10px
}

.ionic4-star-rating{
    display: inline;
}

.margin_fixed{
    margin-top: 20px !important;
}

.featured_salon_slide{
    
    width: 180px !important;
    margin: 2px 0px;
    img{
        width: 100%;
        height: 100px;
        min-width: 155px;
    }
}

.testimonial_slide{
    width: 240px !important;
    img{
        width: 100%;
        height: 100px;
    }

    .round-img-testimonials{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
}



.notifybadge{
    position: absolute !important;
    // right: 7px !important;
    z-index: 99999 !important;
    top: 0 !important;
    background: #f1f1f1 !important;
    color: #c73130 !important;
    border-radius: 50% !important;
    margin-left: 15px !important; 
}

.testimonials_cards{
    width: 210px;
    height: 210px;
    padding: 10px;
    margin: 10px;
    text-align: center;

    img{
        margin:0 auto;
        width: 110px;
        height: 110px;
        margin-bottom: 5px;
    }
    span{
        font-size: 11px;
    }
}

.dashboard_content{
    margin: 0px 5px;
}

.testimonial_text{
    margin-top: 20px;
}

.search_icon{
    margin-right: -30px;
    font-size: 25px;
}
.font_normal{
    font-size: 12px !important;
}
.transparency{
    img{
        opacity: 0.6;
    }
}

.no_padding{
    padding: 0 !important;
}

.deals_slides{
    p{
        text-align: center;
    }
    span{
        font-size: 10px;
        color: #c73130;
        text-align: center;
    }
}

.BlogsSlider {
    ion-slide, ion-card{
       
        height: 240px;
    }
}

.margin_top{
    margin-top: 10px;
}