<ion-header>
    <ion-toolbar color="primary">
        <ion-row>
            <ion-col size="2" class="ion-text-center">
                <ion-buttons slot="start" style="margin-top:25px !important">
                    <ion-back-button style="color:black !important;"></ion-back-button>
                </ion-buttons>
            </ion-col>

            <ion-col size="8">
                <!-- <ion-title>Create Account</ion-title> -->
            </ion-col>
            <ion-col size="2" class="ion-text-center">

            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="register-bg">
    <ion-grid>
        <form [formGroup]="registerform" class="item-width">
            <ion-row>
                <ion-col size="12" text-center>
                    <img class="image mb-3" src="./assets/img/logo.png" />
                </ion-col>

                <ion-col size="12">
                    <ion-item class="input-border">
                        <ion-icon slot="start" class="user-icon"></ion-icon>
                        <ion-label class="inputlabel" position="stacked">{{'Full Name'|language}}
                        </ion-label>
                        <ion-input formControlName="name" type="text" placeholder="Enter Your Full Name" [(ngModel)]="UserData.name"></ion-input>
                        <div *ngFor="let item of valid.validation_messages.name;let i=index">
                            <div class="errormessage"
                                *ngIf="registerform.get('name').hasError(item.type) && (registerform.get('name').dirty || registerform.get('name').touched)">
                                <ion-icon name="alert"></ion-icon>{{item.message}}
                            </div>
                        </div>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item class="input-border">
                        <ion-icon slot="start" class="mobile-icon"></ion-icon>
                        <ion-label class="inputlabel" position="stacked">{{'Mobile Number'|language}}
                        </ion-label>
                        <ion-input formControlName="mobile" type="tel" maxlength="10" placeholder="912345678"
                            (ionBlur)="CheckUserAvalability()" [(ngModel)]="UserData.mobileno" ></ion-input>
                    </ion-item>
                    <div class="errormessage"
                            *ngIf="lists.Avalabile == false">
                            <ion-icon name="alert"></ion-icon>Mobile Number is Already Registered with Another User
                        </div>
                    <div *ngFor="let item of valid.validation_messages.mobile;let i=index">
                        <div class="errormessage"
                            *ngIf="registerform.get('mobile').hasError(item.type) && (registerform.get('mobile').dirty || registerform.get('mobile').touched)">
                            <ion-icon name="alert"></ion-icon>{{item.message}}
                        </div>
                    </div>
                </ion-col>
                <ion-col>
                    <ion-item class="input-border">
                        <!-- <img src="assets/icon/calendar-grey.svg" slot="start"alt="calendar-icon" width="22" height="22"/> -->
                        <ion-icon name="calendar" slot="start"></ion-icon>
                        <ion-label class="inputlabel" position="stacked">{{'DOB'|language}}</ion-label>
                        <ion-input class="align_left" readonly formControlName="dob"
                            (ionChange)="CheckDateValidate($event)" [liIonic4Datepicker]="datePickerObj"
                            placeholder="Enter DOB" [(ngModel)]="UserData.dob">
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item class="input-border">
                        <ion-icon slot="start" name="mail"></ion-icon>
                        <ion-label class="inputlabel" position="stacked">{{'Email Address'|language}}
                        </ion-label>
                        <ion-input formControlName="email" placeholder="mailid@domain.com" type="email" [(ngModel)]="UserData.email"></ion-input>
                    </ion-item>
                    <div *ngFor="let item of valid.validation_messages.email;let i=index">
                        <div class="errormessage"
                            *ngIf="registerform.get('email').hasError(item.type) && (registerform.get('email').dirty || registerform.get('email').touched)">
                            <ion-icon name="alert"></ion-icon>{{item.message}}
                        </div>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <ion-item class="input-border">
                        <ion-icon slot="start" class="lock-icon"></ion-icon>
                        <ion-label class="inputlabel" position="stacked">{{'Password'|language}}</ion-label>
                        <ion-input formControlName="password" placeholder="" type="{{lists.passwordtype}}" [(ngModel)]="UserData.password">
                        </ion-input>
                        <div *ngFor="let item of valid.validation_messages.password;let i=index">
                            <div class="errormessage"
                                *ngIf="registerform.get('password').hasError(item.type) && (registerform.get('password').dirty || registerform.get('password').touched)">
                                <ion-icon name="alert"></ion-icon>{{item.message}}
                            </div>
                        </div>
                        <p class="dtft showpassword" *ngIf="lists.passwordtype=='password'"
                            (click)="lists.passwordtype='text'">
                            <ion-icon name="eye" style="vertical-align: bottom;"></ion-icon>
                            {{'Show Password'|language}}
                        </p>
                        <p class="dtft showpassword" (click)="lists.passwordtype='password'"
                            *ngIf="lists.passwordtype=='text'">
                            <ion-icon name="eye-off" style="vertical-align: bottom;"></ion-icon>
                            {{'Hide Password'|language}}
                        </p>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item class="input-border">
                        <ion-icon slot="start" class="lock-icon"></ion-icon>
                        <ion-label class="inputlabel" position="stacked">{{'Confirm Password'|language}}</ion-label>
                        <ion-input formControlName="confirmpassword" placeholder="" [(ngModel)]="UserData.confirmpassword"
                        type="{{lists.confpasswordtype}}"></ion-input>
                        <p class="dtft showpassword" *ngIf="lists.confpasswordtype=='password'"
                            (click)="lists.confpasswordtype='text'">
                            <ion-icon name="eye" style="vertical-align: bottom;"></ion-icon>
                            {{'Show Password'|language}}
                        </p>
                        <p class="dtft showpassword" (click)="lists.confpasswordtype='password'"
                            *ngIf="lists.confpasswordtype=='text'">
                            <ion-icon name="eye-off" style="vertical-align: bottom;"></ion-icon>
                            {{'Hide Password'|language}}
                        </p>
                    </ion-item>
                    <div *ngIf="registerform.value.password!=registerform.value.confirmpassword">
                        <div class="errormessage">
                            <ion-icon name="alert"></ion-icon>{{'Password or Confrim Password not Match'|language}}.
                        </div>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <ion-label>{{'Gender'|language}}</ion-label>
                    <ion-radio-group formControlName="gender" [(ngModel)]="UserData.gender">
                        <ion-row class="pl-0 pr-0">
                            <ion-col size="6" class="p-0 ion-text-center">
                                <ion-item lines="none">
                                    <ion-label>{{'Male'|language}}</ion-label>
                                    <ion-radio slot="start" value="Male" class="reg_radio"></ion-radio>
                                </ion-item>
                            </ion-col>
                            <ion-col size="6" class="p-0 ion-text-center">
                                <ion-item lines="none">
                                    <ion-label>{{'Female'|language}}</ion-label>
                                    <ion-radio slot="start" value="Female" class="reg_radio"></ion-radio>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-radio-group>
                </ion-col>
                <ion-col size="12">
                    <ion-item lines="none">
                        <ion-checkbox formControlName="terms" slot="start"></ion-checkbox>
                        <ion-label style="white-space: normal;" class="terms font_normal">
                            {{'Agree To Terms and Conditions'|language}}.
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item lines="none">
                        <ion-label style="white-space: normal;" class="terms font_normal">
                            {{'I have read and agree with all Terms and Conditions'|language}}.<a
                                (click)="Readterms()">Click here</a>
                        </ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="12" class="" style="text-align:-webkit-center !important;">
                    <ion-button class="loginbutton" expand="full" shape="round" (click)="Proceed()"
                        [disabled]="!registerform.valid || lists.Avalabile == false ">{{'Register'|language}}
                    </ion-button>
                </ion-col>

                <ion-col size="12" text-center class="dtft m-t-p-10 ls-1">
                    <div> {{'Already Member'|language}} ? </div>
                    <div class="mt-1"><a class="registerft" (click)="common.PageGoto('Root','login')">
                            {{'Login'|language}} </a>
                    </div>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>