<ion-content>
  <ion-row>
    <ion-col size="12">

      <ion-icon class="close" (click)="Close()" name="close-circle"></ion-icon>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Free {{OfferDetailData.type}} - {{OfferDetailData.couponcode}}
          </ion-card-subtitle>
          <ion-card-title>{{OfferDetailData.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <span style="font-size: 11px;">Valid Till: {{OfferDetailData.startdate|date:'dd-MM-yyyy'}} to {{OfferDetailData.enddate|date:'dd-MM-yyyy'}}</span>
          <p>{{OfferDetailData.description}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>