<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2" class="ion-text-center">
        <ion-buttons>
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
       
        <ion-title ><p align="center"><b>{{'Terms & Conditions'|language}}
        </b></p></ion-title>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content padding class="small-font lh-small-p" style="text-align:justify;">
  <p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY. THIS IS A LEGAL AGREEMENT BETWEEN MY SALON ZONE AND YOU WHICH GOVERNS YOUR USE OF THE SERVICES. BY EXECUTING A SUBSCRIPTION AGREEMENT, AND/OR YOUR USE OF THE SERVICES CONSTITUTES YOUR ACCEPTANCE OF AND AGREEMENT TO ALL OF THE TERMS AND CONDITIONS IN THESE TERMS OF SERVICE AND YOUR REPRESENTATION THAT YOU ARE 18 YEARS OF AGE OR OLDER. IF YOU OBJECT TO ANYTHING IN THESE TERMS OF SERVICE YOU ARE NOT PERMITTED TO USE THE SERVICES.</p>
<p>MY SALON ZONE is a multipurpose platform for Beauty and Wellness industry. MY SALON ZONE,&nbsp; aims to provide Business, Stylist and Freelancers with the most robust and user-friendly online business tools, News and content empowering them to efficiently grow their business, Enhance their knowledge ,Keep updated with Industry News and Events and build long-lasting relationships with their customers.</p>
<p>These Terms of Service (the "Terms of Service") govern the use of the mobile and internet-based services, business tools (App or Website) offered by MY SALON ZONE, &nbsp;(the "Company," "MY SALON ZONE," "we" or "us") at and through the mobile applications or website Mysalonzone.com (the "Website") (such services, applications and the Website are collectively referred to as the "Services").</p>
<p>If you are accepting these Terms of Service and using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant to the Company that you have full power and authority to do so.</p>
<p>The Services are protected by copyright laws, as well as other intellectual property laws and treaties. Unauthorized reproduction or distribution of the Services, or any portion of them, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law. The Services are licensed, not sold.</p>
<ol>
<li><strong>The MY SALON ZONE Services</strong></li>
</ol>
<p>MY SALON ZONE is a multipurpose platform that connects salons Business, Stylist and Freelancer Professionals providing hair, beauty and other health and wellness services ("Styling Services") with clients seeking such services ("Clients"). Business, Stylist, Freelancer Professionals and Clients all are users of the Services provided by MY SALON ZONE and are hereinafter referred to collectively as "Users."&nbsp;</p>
<ol start="2">
<li><strong>Information Accuracy</strong></li>
</ol>
<p>Although MY SALON ZONE Admin and Technical Team periodically update information on the App and Website, MY SALON ZONE does not guarantee that the information, content or App modules is error-free or complete. Such updates include but are not limited to availability and price. MY SALON ZONE preserves the right to update or change information, content or App module without prior notice. Although we apologize for the inconvenience, MY SALON ZONE reserves the right to correct any information, content or App module at any time, even during user transactions, and will take measures that may include refusal, cancellation, or revision to adjust user transaction and data. Free version services may change or update at any time without prior information, and MY SALON ZONE reserves the right to change service plans and their prices without notice. Current promotions, sales, and discounts are not valid towards previously purchased service or plan.&nbsp;</p>
<ol start="3">
<li><strong>Subscription Types , Pricing and payment Methods</strong></li>
</ol>
<p>Currently we are providing free App services/Modules only, we reserve the right to change, update or remove any App services/Modules at any time upon ten (10) days prior notice. You must agree to the change in App services/Modules to continue to use the Services. To withdraw your consent, you will need to cancel your account by logging into your account and following the cancellation procedures there, or notifying us at <a href="mailto:info@mysalonzone.com">info@mysalonzone.com</a></p>
<p>In app purchase (SMS-recharge service) , will be non-refundable and non-transferable&nbsp; once your account recharged with SMS promised as SMS plan mentioned in App/website. Payment method will be UPI transfer only.&nbsp;</p>
<ol start="4">
<li><strong>User (Business, Stylist and Freelancer Professionals) governed loyalty plans, deals and offers.&nbsp;</strong></li>
</ol>
<p>User may offer loyalty plans, deals and offers to Clients. If a User offers such a loyalty program, the User (and not MY SALON ZONE) is responsible for ensuring that its program and any associated rewards/offers are compliant with applicable Centre and state government&rsquo;s laws, including laws governing prepaid cards and special offers such as rebates and coupons. User agrees to make available to Clients any terms and conditions applicable to such User's loyalty plan, deals and offers.&nbsp;</p>
<ol start="5">
<li><strong>MY SALON ZONE Programs</strong>&nbsp;</li>
</ol>
<p>The MY SALON ZONE may from time to time start certain programs, promotions, opportunities, sweepstakes and contests to Users ("MY SALON ZONE Programs"); if User choose to take part in these MY SALON ZONE Programs, additional terms can be found at respective program page on App or website. MY SALON ZONE reserves the right to change the terms of MY SALON ZONE Programs at any time on notice to you, provided that any such changes shall not affect you retroactively.&nbsp;</p>
<ol start="6">
<li><strong>Use of the Services; Limitations and Changes to the Services.</strong>&nbsp;</li>
</ol>
<p>We may change, modify, suspend, or discontinue all or any part of the Services at any time, with or without reason. You acknowledge that the operation of the Services may from time to time encounter technical or other problems and may not necessarily continue uninterrupted or without technical or other errors and MY SALON ZONE shall not be responsible to you or others for any such interruptions, errors or problems or an outright discontinuance of the Services. MY SALON ZONE has no obligation to maintain or update the Services or to continue producing or releasing new versions of the Services.&nbsp;</p>
<p>We will make reasonable efforts to keep the Services operational 24 hours a day/7 days a week, except for: (i) planned downtime (of which we will endeavor to provide at least 8 hours prior notice); or (ii) any unavailability caused by circumstances beyond our control, including but not limited to, acts of God, acts of government, flood, fire, earthquakes, civil unrest, acts of terror, strikes or other labor problems or Internet service provider failures or delays.&nbsp;</p>
<p>We always appreciate your feedback or other suggestions about MY SALON ZONE, but you understand that we may use them and you hereby grant us all rights to such suggestions without any obligation to compensate you for them (just as you have no obligation to offer them).&nbsp;</p>
<ol start="7">
<li><strong>We do our best to keep MY SALON ZONE safe and spam free, but can't guarantee it. In order to help us do so, you agree not to:</strong>&nbsp;</li>
</ol>
<ul>
<li>Send or otherwise post unauthorized commercial communications (such as spam) on the Services.</li>
<li>Collect Users' content or information, or otherwise access the Services, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our permission.</li>
<li>Engage in unlawful multi-level marketing, such as a pyramid scheme, on the Services.</li>
<li>Upload viruses or other malicious code.</li>
<li>Solicit login information or Account IDs or access an account belonging to someone else.</li>
<li>Bully, intimidate, or harass any User.</li>
<li>Post content that is hateful, threatening, pornographic, or that contains nudity or graphic or gratuitous violence.</li>
<li>Develop, advertise or otherwise market alcohol-related or other mature content.</li>
<li>Use MY SALON ZONE to do anything unlawful, misleading, malicious, or discriminatory.</li>
<li>Do anything that could disable, overburden, or impair the proper working of MY SALON ZONE or the Services, such as a denial of service attack.</li>
<li>Facilitate or encourage any violations of these Terms of Service.&nbsp;</li>
</ul>
<ol start="8">
<li><strong>To make sure we are able to provide a service to our Users and customers, we need to make sure our pages are accurate and up-to-date. To help us do so, you agree to</strong>:&nbsp;</li>
</ol>
<ul>
<li>Keep your Registration Data and contact information accurate and up-to-date.</li>
<li>keep your Account IDs and Account information confidential and to not share your login information or Account IDs, let anyone else access your Account, or do anything else that might risk the security of your Account.&nbsp;</li>
</ul>
<ol start="9">
<li><strong>Termination</strong></li>
</ol>
<p>MY SALON ZONE reserves the right, in its sole discretion, to terminate any User account and any User Submissions, and restrict User's access to all or any part of the App or Website for any or no reason, without notice, and without liability to any User or anyone else. These Terms of Use are applicable to any User who accesses, registers, or purchases anything on the App or Website. The terms of Termination; Copyright and Trademark Disclaimer; Limitation of Liability ; and Governing Law sections will survive any termination of service or use of the Site.</p>
<ol start="10">
<li><strong>Copyright and Trademark Disclaimer</strong></li>
</ol>
<p>The MY SALON ZONE App and Website are owned by MY SALON ZONE PVT LTD and is available for Users personal and non-commercial purposes only. The MY SALON ZONE name, logo, and App or Website content, including all pictures, slogans, text, colors, designs, graphics, images, icons, buttons, code, and software, are all subject to trademark, copyright, and other applicable intellectual property rights and law. MY SALON ZONE trademarks may not be copied reproduced, modified, downloaded, published, exploited, or transmitted without first obtaining written permission from MY SALON ZONE. User warrants that he or she owns all rights in any User Submissions posted to the Site. User agrees not to post, modify, distribute, or reproduce User Submissions that belong to another person, without first obtaining the owner's permission to post such User Submissions and grant to MY SALON ZONE all of the license rights granted in this Agreement.&nbsp;</p>
<ol start="11">
<li><strong>Governing Law</strong></li>
</ol>
<p>The Site is controlled and operated by MY SALON ZONE PVT LTD. MY SALON ZONE makes no claim that the Site, its services, is appropriate or accessible to other locations. User accesses the Site on her/his own initiative, accepts and agrees to be bound by the terms of the Agreement and the Privacy Policy. This agreement shall be governed by the India laws of the without giving effect to its conflicts of law principles. The provisions of this Agreement will be deemed severable, and the invalidity or unenforceability of any provision will not affect the validity or enforceability of any other provision.&nbsp;</p>
<p>Last revision on : May 3, 2020</p>


</ion-content>