<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2" class="ion-text-center">
        <ion-buttons>
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-title>
          <p align="center"><b>{{'Disclaimer'|language}}
          </b></p>
        </ion-title>

      </ion-col>
      <ion-col size="2" class="ion-text-center">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding class="small-font lh-small-p" style="text-align:justify;">
  <p>By accessing, downloading, or using <a
      (click)="common.OpenUrl('https://play.google.com/store/apps/details?id=com.mysalonzone',0)">MY SALON ZONE Mobile
      App</a> or any page of this app, you denote your approval to this disclaimer. The contents or services of this
    app, including without limitation, all data, information, text, graphics, links and other materials are provided as
    a convenience to our app users and are meant to be used for informational purposes only. We do not take
    responsibility for decisions taken by the user based solely on the information provided in this app.</p>
  <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss
    or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection
    with, the use of this app. The app makes no warranty that the App, content, or the services of this App will meet or
    satisfy your requirements.</p>
  <p>Through this App, you are able to link to other Apps or websites which are not under the control of MY SALON ZONE.
    We have no control over the nature, content, and availability of those Apps or Websites. The inclusion of any links
    does not necessarily imply a recommendation or endorse the views expressed within them.&nbsp;</p>
  <p>The app&nbsp;may include inaccuracies and typographical errors. Changes and improvements are periodically made to
    the app and the information therein. We do not warrant or assume any legal liability or responsibility for the
    completeness, or usefulness of any information, service.</p>
  <p>Every effort is made to keep the website up and running smoothly. However, MY SALON ZONE takes no responsibility
    for, and will not be liable for, the App being temporarily unavailable due to technical issues beyond our control.
  </p>
  <p>If you require any more information or have any questions about our site's disclaimer, please feel free to contact
    us at <a href="mailto:info@mysalonzone.com">info@mysalonzone.com</a>&nbsp;</p>
  <p>Last revision on : May 3, 2020</p>

</ion-content>