<ion-header>
    <ion-toolbar color="primary">
        <ion-row>
            <ion-col size="2">
                <ion-buttons>
                    <ion-button (click)="goBack()">
                        <ion-icon name="arrow-back" style="color:#fff;"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-col>
            <ion-col size="2">
                <img [src]="common.Url+'Files/'+SalonData.logo" onerror="this.src='./assets/img/app/user-1.jpg'" class='round-img border-primary' style="width: 120px">
            </ion-col>
            <ion-col size="8">
                <ion-title style="color:white;padding: 0;">
                    {{SalonData.name}}
                </ion-title>
            </ion-col>
            <!-- <ion-col size="2"></ion-col> -->
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row class="griddata">
        <ion-col size="2" class="no_padding">
            <a href="tel:{{SalonData.mobileno}}">
                <ion-icon name="call" size="large" style="margin-top: 5px; color:#d90e0e; "></ion-icon>
            </a>
        </ion-col>
        <ion-col size="5">
            <ion-button shape="round" class="top_header_btns" (click)="common.PageGoto('Forward','appointments', SalonData)" color="primary" fill="solid">
                Book Now
            </ion-button>
        </ion-col>
        <ion-col size="5">
            <ion-button shape="round" *ngIf="!BusinessData_Issue" class="top_header_btns" (click)="MarkAsPrefered()" color="primary" fill="solid">
                Set as Preferred
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-slides pager="true" class="add_slidecss">
        <ion-slide>
            <img style="width: 100%;" onerror="this.src='./assets/img/placeholder.jfif';" src="{{SalonBanner}}" (click)="common.OpenUrl()">
        </ion-slide>
    </ion-slides>

    <ion-grid *ngIf="!BusinessData_Issue">
        <ion-row class="griddata" *ngIf="SalonData.Address">
            <ion-col size="12" class="no_padding">
                <h3 class="custom_med_heading setheading">{{'Location'|language}}</h3>
            </ion-col>
        </ion-row>
        <ion-row class="griddata" *ngIf="SalonData.Address">
            <ion-col size="12" *ngIf="SalonData.Address.address1" (click)="LaunchNav()">
                <ion-card class="mycardinfo cardsqr card_grey">
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="11">
                                <ion-label class="infoname">
                                    <p style="font-size: 10px;" class="align_left">{{SalonData.Address.address1}}</p>
                                </ion-label>
                            </ion-col>
                            <ion-col size="1">
                                <ion-icon class="nav_loc_icon" name="locate"></ion-icon>
                            </ion-col>
                        </ion-row>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="griddata">
            <ion-col size="12" class="no_padding">
                <h3 class="custom_med_heading setheading">{{'Timing'|language}}</h3>
            </ion-col>
        </ion-row>
        <ion-row class="griddata">
            <ion-col size="12">
                <ion-card class="mycardinfo cardsqr card_grey">
                    <ion-grid>
                        <ion-row class="griddata timings padding_more_five" *ngIf="lists.CurrentDayStatus.ValidityStatus">
                            <ion-col size="3">
                                <ion-label class="infoname">{{'Today'|language}} </ion-label>
                            </ion-col>
                            <ion-col size="6">
                                <ion-label class="infoname">
                                    {{lists.CurrentDayStatus.day}} - {{lists.CurrentDayStatus.evening}}
                                </ion-label>
                            </ion-col>
                            <ion-col size='3' (click)="Openpopup()" class="no_padding">
                                <ion-button color="primary" shape="round" class="time_more_btn">More</ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row class="griddata timings" *ngIf="!lists.CurrentDayStatus.ValidityStatus">
                            <ion-col size="3">
                                <ion-label class="infoname"> {{'Today'|language}}</ion-label>
                            </ion-col>
                            <ion-col size="6">
                                <ion-label class="infoname">{{'closed'|language}}</ion-label>
                            </ion-col>
                            <ion-col size='3' (click)="Openpopup()" class="no_padding">
                                <ion-button color="primary" shape="round" class="time_more_btn">More</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row class="griddata" *ngIf="Add_On_Images">
            <ion-col size="12">
                <h3 class="custom_med_heading setheading">{{'Gallery'|language}}</h3>
            </ion-col>
        </ion-row>
        <ion-slides pager="true" class="add_slidecss margin_3">
            <ion-slide *ngFor="let Addons of Add_On_Images" options="{pagination: false}">
                <img onerror="this.src='./assets/img/placeholder.jfif';" [src]="common.Url+'Files/'+Addons">
            </ion-slide>
        </ion-slides>

        <ion-row class="griddata">
            <ion-col size="12" class="no-padding-bottom">
                <h3 class="custom_med_heading setheading">{{'Services'|language}}</h3>
            </ion-col>
        </ion-row>
        <ion-row class="griddata">
            <ion-col size="12">
                <ion-card class="mycardinfo cardsqr card_grey">
                    <ion-grid>
                        <ion-row class="griddata">
                            <ion-col size="10">
                                <ion-slides class="services_slide" options="{initialSlide: 0,
                                    slidesPerView: 5,
                                    autoplay: false,
                                    pagination: false}">
                                    <ion-slide style="width: 60px !important;" *ngFor="let services of lists.SalonServices">
                                        <img onerror="this.src='./assets/img/placeholder.jfif';" [src]="common.Url+'Files/'+services.icon" />
                                    </ion-slide>
                                </ion-slides>
                            </ion-col>
                            <ion-col size="2" (click)="OpenpopupServices($event)" class="no_padding">
                                <ion-button color="primary" class="more_square">More</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="griddata" *ngIf="lists.salonRating">
            <ion-col size="12" class="no_padding">
                <h3 class="custom_med_heading setheading">{{'Rating'|language}}</h3>
            </ion-col>
        </ion-row>
        <ion-row class="griddata no-padding-top" *ngIf="lists.salonRating">
            <ion-col size="12">
                <ion-card class="mycardinfo cardsqr card_grey ">
                    <ion-card-content>
                        <table class="rating_table">
                            <tr *ngFor="let item of lists.salonRating">

                                <td size="6" style="padding-right: 16px;">{{item.rating_Name}}:</td>
                                <td size="6" style="padding-right: 16px;">
                                    <ionic4-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#d1301a" defaultColor="#aaaaaa" halfStar="true" readonly="true" rating="{{item.rating_Count}}" fontSize="15px">
                                    </ionic4-star-rating>
                                </td>
                            </tr>
                        </table>
                    </ion-card-content>

                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="Offers.length!=0">
            <ion-col size="12">
                <h3 class="custom_med_heading setheading">{{'Deals Of The Day'|language}}</h3>
            </ion-col>
        </ion-row>

        <ion-slides *ngIf="Offers.length!=0" [options]="slideOptsThree" #slideWithNav3 class="deals_slides main_slides">
            <ion-slide *ngFor="let s of Offers" class="deals_slide slide_deal" (click)="OfferDetail(s)">
                <ion-card [style.background]="('url('+common.Url+'Files/'+s.backgroundImage+')')|santize:'css'" class="ion-no-margin recipe-card adjustCardBackground">
                    <img onerror="this.src='./assets/img/placeholder.jfif';" [src]="common.Url+'Files/'+s.imageurl" alt="Summer Salad" width="100%" height="auto">
                </ion-card>
            </ion-slide>
        </ion-slides>

        <ion-row class="griddata" *ngIf="SalonData.FacilitiesList.length!=0">
            <ion-col size="12">
                <h3 class="custom_med_heading setheading">{{'Facilities'|language}}</h3>
            </ion-col>
        </ion-row>
        <ion-card style="margin-top: 0;">
            <ion-row class="griddata">
                <ion-col size="6" *ngFor="let item of SalonData.FacilitiesList">
                    <p style="margin: 5px;">
                        <ion-icon class="ion-check-class" name="checkmark"></ion-icon> {{item.facilitiesname}}
                    </p>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-row class="griddata" *ngIf="SalonData.Staff.length!=0">
            <ion-col size="12">
                <h3 class="custom_med_heading setheading">{{'Staff'|language}}</h3>
            </ion-col>
        </ion-row>
        <ion-segment scrollable class="segment-button-month">
            <ion-segment-button *ngFor="let item of SalonData.Staff; let i=index" class="br-6">
                <img src="{{common.Url}}Files/{{item.logo}}" onerror="this.src='./assets/img/placeholder.jfif';" class='round-img border-primary' style="width: 60px">
                <ion-label style="text-transform: capitalize;">{{item.name}}</ion-label>
            </ion-segment-button>
        </ion-segment>

        <ion-row class="griddata" *ngIf="BrandsListing.length!=0">
            <ion-col size="12">
                <h3 class="custom_med_heading setheading">{{'Preferred Products'|language}}</h3>
            </ion-col>
        </ion-row>
        <ion-segment scrollable class="segment-button-month" *ngIf="BrandsListing.length!=0">
            <ion-segment-button *ngFor="let brandslist of BrandsListing; let i=index" class="br-6 brands_btn">
                <img [src]="common.Url+'Files/'+brandslist.logo" style="width: 100px; height: 65px;" onerror="this.src='./assets/img/placeholder.jfif';">
                <ion-label>{{brandslist.brandname}}</ion-label>
            </ion-segment-button>
        </ion-segment>

        <ion-row class="griddata" style="margin-bottom: 50px;">
            <ion-col size="12">
                <h3 class="custom_med_heading setheading">{{'Online Presence'|language}}</h3>
            </ion-col>
            <table class="social_links_table">
                <tr class="sociallinks" *ngIf="SalonData.OtherServices">
                    <!-- <td> {{'Contact Us'|language}}@
                    </td> -->
                    <td *ngIf="SalonData.OtherServices.facebook">
                        <div class="social_icons_btm" (click)="common.OpenUrl(
                            SalonData.OtherServices.facebook,false)"> <img src="../../../assets/icon/fb.png"> </div>
                        <!-- <ion-icon class="fb" name="logo-facebook" ></ion-icon> -->
                    </td>
                    <td *ngIf="SalonData.OtherServices.intagram">
                        <div class="social_icons_btm" (click)="common.OpenUrl(
                            SalonData.OtherServices.intagram,false)"> <img src="../../../assets/icon/insta.png"> </div>
                        <!-- <ion-icon class="insta" name="logo-instagram" ></ion-icon> -->
                    </td>
                    <td *ngIf="SalonData.OtherServices.youtube">
                        <div class="social_icons_btm" (click)="common.OpenUrl(SalonData.OtherServices.youtube,false)">
                            <img src="../../../assets/icon/yt.png"> </div>
                        <!-- <ion-icon class="you" name="logo-youtube"
                            >
                        </ion-icon> -->
                    </td>
                    <td *ngIf="SalonData.OtherServices.website">
                        <div class="social_icons_btm" (click)="common.OpenUrl(SalonData.OtherServices.website,false)">
                            <img src="../../../assets/icon/web.png"> </div>
                        <!-- <ion-icon class="twitt" name="browsers"
                            ></ion-icon> -->
                    </td>
                </tr>
            </table>

        </ion-row>
    </ion-grid>
    <p *ngIf="BusinessData_Issue" style="text-align: center;">OOPS..Salon information not available....</p>
</ion-content>